@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --c2: #e6ffcb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
    --c2: #2b2b2b;
  }
}

@font-face {
  font-family: 'Tan Kulture';
  src: url('./assets/TAN\ KULTURE-DISPLAY.otf');
  font-display: swap;
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
  overflow-x: hidden;
  /* opacity: 0.2; */
  background-image: linear-gradient(#aeff6249 2px, transparent 2px), linear-gradient(to right, #aeff6249 2px, var(--background) 2px);
  background-size: 60px 60px;
}

.tan-kulture {
  font-family: 'Tan Kulture';
}